
@{
    ViewBag.Title = "AktifCagrilar";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Konu</th>
        <th>Tarih</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Raporlama Problemi</td>
        <td>23 Şub 2021</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Yazıcı Problemi</td>
        <td>24 Mar 2021</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Toplantı Talebi</td>
        <td>10 Agu 2021</td>
    </tr>
</table>
