@using MvcFirmaCagri.Models.Entity
@model List<TblCagrilar>


<ul class="dropdown-menu">
    <li>
        <div class="notification_header">
            <h3>Aktif Çağrı Bildirimleriniz</h3>
        </div>
    </li>

    @foreach (var x in Model) {
    <li>
        <a href="/Default/CagriDetay/@x.ID" class="grid">
            <div class="user_img"><img src="~/web2/starter/assets/images/avatar1.jpg" alt=""></div>
            <div class="notification_desc">
                <p>@x.Konu</p>
                <span>@x.Tarih</span>
            </div>
        </a>
    </li>
    }

    <li>
        <div class="notification_bottom">
            <a href="#all" class="bg-primary">Tüm çağrıları gör</a>
        </div>
    </li>
</ul>

