<div class="accordions">
    <div class="row">
        <!-- accordion style 1 -->
        <div class="col-lg-12 mb-4">
            <div class="card card_border">
                <div class="card-header chart-grid__header">
                    Yardım Menüsü
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingOne">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">Çağrı Problemleri</a>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Çağrılarda sroun yaşarsanız web sitemizin panel kısmında yer alan telefon
                                    numarası üzerinden bize ulaştığınız takdire hemen işlemlerinize çözüm sağlayacağız.

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-white p-0" id="headingTwo">
                                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">Mesajlar
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body para__style">
                                        Size gönderilmiş olan mesaj ve bildirimler isağ üst taraftaki bildirim sekmesinden yönetebiir, admin
                                        veya diğer firmalarla mesajlaşabilir, bu firmalarla iletişim halinde kalarak iş birliktelikleririnizi artırabilirsiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-white p-0" id="headingThree">
                                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                                       aria-expanded="false" aria-controls="collapseThree">
                                        Yeni Çağrı İşlemi
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionExample">
                                    <div class="card-body para__style">
                                        Web sayfamızın panel kısmına gidip çağrılar sekmesinin hemen altında bulunan yeni çağrı alanına tıklayıp sisteminizde yaşadığınız sorunalrı
                                        bize mesaj olarak iletmeniz halinde en kısa süre içerisinde size dönüş yapmış olacağız. Teknik çağrı ekibmiz sabah saat 08:00 ile akşam saat
                                        2200 arasında hizmet vermektedir. Bağlantı kurabilmek için bilgisayırınıza bir uzak bağlantı programı indirmeyi unutmayın.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-white p-0" id="headingfour">
                                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapsefour"
                                       aria-expanded="false" aria-controls="collapsefour">
                                        Yeni Mesaj İşlemi
                                    </a>
                                </div>
                                <div id="collapsefour" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordionExample">
                                    <div class="card-body para__style">
                                        Mesaj paneli üzerinden hem size gönderilen mesajları görüntüleyebilir hem de diğer firmaların size attığı mesajlara ulaşıp
                                        iletişim halinde kalabilirsiniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- //accordion style 1 -->
    </div>
</div>
