@model MvcFirmaCagri.Models.Entity.TblCagrilar
@{
    ViewBag.Title = "YeniCagri";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}

<h2>Yeni Cağrı Ekleme Sayfası</h2>
<br />
<form method="post">
    @Html.Label("Konu")
    @Html.TextBoxFor(x => x.Konu, new {@class="form-control"})
    <br/>
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x=>x.Aciklama,10,4,new { @class = "form-control"})
    <br />
    <button class="btn btn btn-primary">Çağrı Oluştur</button>
    </form>

